
@import "../css/colors";

.Card {

    width: fit-content;
    margin: 1em;
    
}

.title, .body {

    padding: 1em;

}

.title {

    background: $lightBlue;

}

.body {

    background: rgba($lightBlue, 0.4);

}