@import "../css/colors";

.TitleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $toolbarBackground;
  padding: 1em 2em;
}

.logoBox {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 3em;
    margin-right: 1em;
  }
}

.buttonStrip {
  composes: controlButton from '../css/controls.scss';
  composes: flatList from '../css/controls.scss';
  display: flex;

  button {
    background-size: 2em;
    margin-left: 1em;
    width: 2.8em;
    height: 2.8em;
    border-radius: 5px;
  }
}