@import "../css/colors";

.TitleBar {

  background: $toolbarBackground;

  .strip {
    height: 0.04em;
    width: 100%;
    background: #1e5799;
    background: -moz-linear-gradient(right, #582736 0%, #c22f3b 100%);
    background: -webkit-linear-gradient(right, #582736 0%, #c22f3b 100%);
    background: linear-gradient(to left, #582736 0%, #c22f3b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#582736', endColorstr='#c22f3b',GradientType=1 );
  }

}

.logoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;

  img {
    width: 3em;
    margin-right: 1em;
  }
}

.buttonStrip {
  composes: controlButton from '../css/controls.scss';
  composes: flatList from '../css/controls.scss';
  display: flex;

  button {
    background-size: 2em;
    margin-left: 1em;
    width: 2.8em;
    height: 2.8em;
    border-radius: 5px;
  }
}