@import "typography";
@import "colors";

body {
  font-family: $lightFontFamily;
  font-size: medium;
  color: $textColor;
  height: -webkit-fill-available;
  margin: 0;

  background: $pageColor;
  background: #04111e;
  background: -moz-linear-gradient(-45deg, #04111e 0%,#13375c 100%);
  background: -webkit-linear-gradient(-45deg, #04111e 0%,#13375c 100%);
  background: linear-gradient(135deg, #04111e 0%,#13375c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04111e', endColorstr='#13375c',GradientType=1 );
}